<h1 style="background: white; margin-top: 0;">MICRO.FISH</h1>
<div [ngStyle]="hueRotationStyle">
  <mat-grid-list cols="12" rowHeight="100px" [ngStyle]="blurStyle" *ngFor="let line of squareSize" >
    <!--<mat-grid-tile-->
      <!--*ngFor="let tile of tilesGreen"-->
      <!--[colspan]="tile.cols"-->
      <!--[rowspan]="tile.rows"-->
      <!--[style.background]="tile.backgroundColor"-->
    <!--&gt;</mat-grid-tile>-->
    <!--<mat-grid-tile-->
      <!--*ngFor="let tile of tilesRandom"-->
      <!--[colspan]="tile.cols"-->
      <!--[rowspan]="tile.rows"-->
      <!--[style.background]="tile.backgroundColor"-->
    <!--&gt;</mat-grid-tile>-->
    <mat-grid-tile
      *ngFor="let tile of tilesRed"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.backgroundColor"
    ></mat-grid-tile>
    <mat-grid-tile
      *ngFor="let tile of tilesRandom"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.backgroundColor"

    ></mat-grid-tile>
    <mat-grid-tile
      *ngFor="let tile of tilesBlue"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.backgroundColor"
    ></mat-grid-tile>
    <!--<mat-grid-tile-->
      <!--*ngFor="let tile of tilesGrey"-->
      <!--[colspan]="tile.cols"-->
      <!--[rowspan]="tile.rows"-->
      <!--[style.background]="tile.backgroundColor"-->
    <!--&gt;</mat-grid-tile>-->
  </mat-grid-list>
</div>
